/**
 * ----------------------------------------------------------------------
 * Settings
 * ----------------------------------------------------------------------
 *
 * Site Name:
 * Author:
 * Company:
 * Version:
 *
 * ----------------------------------------------------------------------
 *
 * 1. Breakpoints
 * 2. Site Colors
 * 3. Typography
 * 4. Grid
 * 5.
 * 6.
 * 7.
 * 8.
 * 9.
 * 10.
 *
 * ----------------------------------------------------------------------
 */

/**
 * ----------------------------------------------------------------------
 * 1. Breakpoints
 * ----------------------------------------------------------------------
*/

$break-xs: 							320px;
$break-sm:		 					480px;
$break-md: 							768px;
$break-lg: 							992px;
$break-xl: 							1200px;

/**
 * ----------------------------------------------------------------------
 * 2. Site Colors
 * ----------------------------------------------------------------------
 */
/* add custom colors here and add them to the default settings */

$site-background:				#FFFFFF;
$site-primary-color:		#FFE361;
$site-secondary-color: 	#D2D2D3;


/**
 * ----------------------------------------------------------------------
 * 3. Typography
 * ----------------------------------------------------------------------
 */

@import "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,700,500italic,700italic,900,900italic";
/*
$baseline:							1em;
$line-height: 					1.5em;
$body-font-color:				darken($site-secondary-color, 40%);
$body-font-stack:				'Roboto', sans-serif;
$body-font-weight:			300;

$heading-font-color:		darken($site-secondary-color, 45%);
$heading-font-stack:		'Roboto', sans-serif;
$heading-font-weight:		700;

$h1-size:								3em;
$h2-size:								2.25em;
$h3-size:								1.5em;
$h4-size:								1.3125em;
$h5-size:								1.125em;
$h6-size:								1em;

$h1-lineheight:					1em;
$h2-lineheight:					1.333333333333333em;
$h3-lineheight:					1em;
$h4-lineheight:					1.142857142857143em;
$h5-lineheight:					1.333333333333333em;
$h6-lineheight:					1.5em;

$h1-margin-bottom: 			.5em;
$h2-margin-bottom: 			.6666666666666667em;;
$h3-margin-bottom: 			1em;
$h4-margin-bottom: 			1.142857142857143em;
$h5-margin-bottom: 			1em;
$h6-margin-bottom: 			1.5em;
*/

$body-font-family: "Helvetica Neue", Arial, sans-serif;
$body-font-size: 106.25%;
$body-line-height: 1.5em;
$body-background: #f9f9f9;
$body-font-color: #333;
$body-font-weight: normal;

$heading-font-family: "Helvetica Neue", Arial, sans-serif;
$heading-font-weight: normal;

$site-link-color: blue;
$site-link-hover-color: red;

$text-muted-color: grey;
$text-warning-color: orange;
$text-success-color: green;
$text-error-color: red;

$hr-top-color: grey;
$hr-bottom-color: white;
/**
 * ----------------------------------------------------------------------
 * 4. Grid
 * ----------------------------------------------------------------------
 */
$susy: (
		columns: 12,
		container: 100%,
		global-box-sizing: border-box,
		gutters: 1/4,
		math: fluid,
		output: float,
		gutter-postiton: split,
	);

/**
 * ----------------------------------------------------------------------
 * Off Canvas Navigation
 * ----------------------------------------------------------------------
 */
$offcanvas-menu-background-color: $site-secondary-color;
$offcanvas-menu-width: 240px;
