/**
 * ----------------------------------------------------------------------
 * Homepage File
 * ----------------------------------------------------------------------
 *
 * Site Name:
 * Author:
 * Company:
 * Version:
 *
 * ----------------------------------------------------------------------
 */

#site-header{
	h1{
		display: none;
	}
}

.page-section{
	margin-bottom: 40px;
	@include container();
	text-align: justify;

	header{
		@include span(12);
		//border: 1px solid #333;
	}

	article{
		@include span(12);
		//border: 1px solid #333;
		margin-bottom: 20px;
	}

	.first{
		@include span(4);
	}

	.last{
		@include span(8 last);
	}

	footer{
		@include span(12);
		border-top: 1px solid darken($site-secondary-color, 5%);
		border-bottom: 1px solid darken($site-secondary-color, 5%);
		padding-top: 20px;

		a{
			text-decoration: none;
			padding-left: 20px;
			color: $site-secondary-color;

			&:hover{
				color: darken($site-secondary-color, 25%);
			}
		}
	}
}
